.fondo{
    background-image: url('../../img/fondoVerdura.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.modal-body{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-align: left;
    text-wrap: balance;
   

}